@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
}

:root {
  --text-color: #e5e5e5;
  --text-color2: #cdcdcd;
  --heading-color: #fca311;
  --bg-color: #0a1224;
  --bg-color2: #14213d;
  --sidbar-width: 240px;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color2);
  font-weight: 700;
}
.text-brand{
  color: var(--heading-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
  transition: all 0.4s ease;
}

a:hover {
  color: var(--heading-color);
}

/* navbar section */
.navbar {
  background-color: var(--heading-color);
}

.navbar .nav-link {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-color);
}

.navbar .nav-link:hover {
  color: var(--bg-color2);
}

.navbar .nav-link.active {
  color: var(--bg-color2);
}

/* home heading */
.text-heading {
  color: var(--heading-color);
}

.bg-base {
  background-color: var(--bg-color2);
}

@media (min-width: 992px) {
  .navbar {
    min-height: 100vh;
    width: var(--sidbar-width);
    background-color: var(--heading-color);
    background-size: cover;
    background-position: center;
  }

  .navbar-brand img {
    border: 8px solid var(--bg-color2);
  }

  /* CONTENT WRAPPER */
  #content-wrapper {
    padding-left: var(--sidbar-width);
  }
}

/* full height for all page */
.full-height {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

/* shadow effect box */
.shadow-effect {
  transition: all 0.5s;
}

.shadow-effect:hover {
  box-shadow: -6px 6px 0 0 var(--heading-color);
}

/* buttons */
.btn {
  padding: 12px 28px;
  font-weight: 700;
}

.btn-brand {
  background-color: var(--heading-color);
  border-color: var(--bg-color2);
  color: var(--text-color);
}

.btn-brand:hover,
.btn-brand:focus {
  background-color: var(--bg-color);
  color: var(--heading-color);
  border-color: var(--heading-color);
}

/* hover links */

.link-custom {
  font-weight: 700;
  position: relative;
}

.link-custom::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--heading-color);
  position: absolute;
  left: 0;
  top: 110%;
  transition: all 0.4s;
}

.link-custom:hover::after {
  width: 100%;
}

/* cards */
img {
  width: 100%;
}

.card-custom .card-custom-image {
  overflow: hidden;
}

.card-custom .card-custom-image img {
  transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img {
  transform: scale(1.1);
}

.iconbox {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  background-color: var(--heading-color);
  color: var(--bg-color2);
}

/* CONTACT */
#contact .form-control {
  background-color: var(--bg-color2);
  border-color: var(--bg-color2);
  color: var(--text-color);
}

#contact .form-control:focus {
  border-color: var(--heading-color);
  box-shadow: none;
}

#contact .form-control::placeholder {
  color: var(--text-color);
}

#contact input.form-control {
  height: 44px;
}

/* SOCIAL ICONS */
.social-icons {}

.social-icons a {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color2);
  border-radius: 100px;
  font-size: 24px;
}